<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crystal.Reports" version="13.0.15.1840" targetFramework="net461" />
  <package id="Crystal.Reports.Essentials" version="13.0.20.2399" targetFramework="net461" />
  <package id="Dapper" version="1.50.5" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net461" />
</packages>